// Adapted from https://github.com/sindresorhus/github-markdown-css
.markdown {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
}

.markdown:after,
.markdown:before {
    display: table;
    content: '';
}

.markdown:after {
    clear: both;
}

.markdown > :first-child {
    margin-top: 0 !important;
}

.markdown > :last-child {
    margin-bottom: 0 !important;
}

//------
// Icons
//------
.markdown .icon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

//----------------
// Details/Summary
//----------------
.markdown details {
    display: block;
}

.markdown summary {
    display: list-item;
}

.markdown details summary {
    cursor: pointer;
}

//------
// Links
//------
.markdown a {
    background-color: initial;
    text-decoration: none;

    @include t(color, 'link-color');
}

.markdown a:active,
.markdown a:hover {
    outline-width: 0;
}

.markdown a:hover {
    text-decoration: underline;
}

.markdown a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.markdown a > .icon--link-external {
    width: 1rem;
    height: 1rem;
    vertical-align: sub;
    margin-left: 0.2rem;
    margin-right: 0.1rem;
}

//-------
// Strong
//-------
.markdown strong {
    font-weight: inherit;
    font-weight: bolder;
}

//----
// Img
//----
.markdown img {
    max-width: 100%;
    border-style: none;
    border-radius: $border-radius;
    @include t(background-color, 'bg-color');
}

.markdown img[align='right'] {
    padding-left: $spacing-x;
}

.markdown img[align='left'] {
    padding-right: $spacing-x;
}

.markdown figure {
    margin-top: 2rem;
    margin-bottom: 2rem;

    & figcaption {
        text-align: center;
        @include t(color, 'gray');
    }
}

//------
// Video
//------

.markdown .video {
    max-width: 100%;
}

//------
// HR
//------
.markdown hr {
    box-sizing: initial;
    height: 0;
    margin: 1.5em 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #e1e4e8;
}

.markdown hr:after,
.markdown hr:before {
    display: table;
    content: '';
}

.markdown hr:after {
    clear: both;
}

//---------
// Headings
//---------

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 1.25;
}

.markdown h1,
.markdown h2 {
    padding-bottom: 0.3rem;
}

.markdown h1 {
    font-size: 2em;
}

.markdown h2 {
    font-size: 1.5em;
}

.markdown h3 {
    font-size: 1.25em;
}

.markdown h4 {
    font-size: 1em;
}

.markdown h5 {
    font-size: 0.875em;
}

.markdown h6 {
    font-size: 0.85em;
    color: #6a737d;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    & > .anchor-link {
        font-size: 0.75rem;
        margin-left: 0.5rem;
        opacity: 0;
    }

    &:hover > .anchor-link,
    & > .anchor-link:focus {
        opacity: 1;
    }
}

//-----------
// Paragraphs
//-----------
.markdown p {
    margin-top: 0;
    margin-bottom: 0.625rem;
}

.markdown .footnotes-list p {
    margin-top: 0;
    margin-bottom: 0;
}

//------
// Lists
//------
.markdown ol,
.markdown ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: initial;
}

.markdown ol {
    list-style-type: decimal;
}

.markdown ol ol,
.markdown ul ol {
    list-style-type: lower-roman;
}

.markdown ol ul,
.markdown ul ul {
    list-style-type: circle;
}

.markdown ol ol ol,
.markdown ol ul ol,
.markdown ul ol ol,
.markdown ul ul ol {
    list-style-type: lower-alpha;
}

.markdown ol ol ul,
.markdown ol ul ul,
.markdown ul ul ul,
.markdown ul ol ul {
    list-style-type: square;
}

.markdown ol,
.markdown ul {
    padding-left: 2em;
}

.markdown ol ol,
.markdown ol ul,
.markdown ul ol,
.markdown ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown li {
    word-wrap: break-all;
}

.markdown li > p {
    margin-top: 1em;
}

.markdown li + li {
    margin-top: 0.25em;
}

.markdown dd {
    margin-left: 0;
}

.markdown dl {
    padding: 0;
}

.markdown dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

.markdown dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

//-------------
// Code and pre
//-------------
.code-block-wrapper {
    position: relative;
}

.code-block-wrapper > .code-lang-label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    color: #bbb;
    background-color: #2d2d2d;
    font-family: monospace;
    user-select: none;
    border-radius: 0 0 0 $border-radius;
}

.markdown pre[class*='language-'] {
    border-radius: $border-radius;
}

.markdown code,
.markdown kbd,
.markdown pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

.markdown input {
    overflow: visible;
    font: inherit;
    margin: 0;
}

.markdown [type='checkbox'] {
    box-sizing: border-box;
    padding: 0;
}

.markdown input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.markdown code,
.markdown pre {
    font-family:
        SFMono-Regular,
        Consolas,
        Liberation Mono,
        Menlo,
        monospace;
    font-size: 12px;
}

.markdown pre {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown input::-webkit-inner-spin-button,
.markdown input::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}

.markdown :checked + .radio-label {
    position: relative;
    z-index: 1;
    border-color: #0366d6;
}

.markdown kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px $font-family-monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
}

.markdown blockquote {
    margin: 0;
}

.markdown blockquote,
.markdown details,
.markdown dl,
.markdown ol,
.markdown p,
.markdown pre,
.markdown table,
.markdown ul {
    margin-top: 0;
    margin-bottom: 1em;
}

.markdown blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

.markdown blockquote > :first-child {
    margin-top: 0;
}

.markdown blockquote > :last-child {
    margin-bottom: 0;
}

//------
// Table
//------
.markdown table {
    display: block;
    width: max-content;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    overflow: auto;
}

.markdown td,
.markdown th {
    padding: 0;
}

.markdown table th {
    font-weight: 600;
}

.markdown table td,
.markdown table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.markdown table tr {
    border-top: 1px solid #c6cbd1;

    @include t(background-color, 'bg-color');
}

.markdown table tr:nth-child(2n) {
    @include t(background-color, 'gray-lightest');
}

//-------------
// Pre and code
//-------------
.markdown code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    border-radius: 3px;

    @include t(
        background-color,
        'gray-light',
        $transform: 'transparentize-strong'
    );
}

.markdown pre {
    word-wrap: normal;
}

.markdown pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.markdown pre {
    padding: 1rem;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    border-radius: 3px;

    @include t(background-color, 'gray-lightest');
}

.markdown pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: initial;
    border: 0;
}

//-----------------------------
//Image, table and video sizing
//-----------------------------
.markdown img,
.markdown table,
.markdown .video {
    display: block;
    margin: 1rem auto;
}
