<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <div class="footer__left"> 
            &copy; Copyright
            {{ build.timestamp | dateToFormat('yyyy') }}
            {{ meta.author }}
            <p>
            Code:
            <a
                rel="license noopener noreferrer"
                href="{{ meta.code.repo + '/blob/' + meta.code.branch + '/LICENSE' }}"
                target="_blank"
            >MIT License</a>,
            Content: 
            <a
                rel="license noopener noreferrer"
                href="http://creativecommons.org/licenses/by-sa/4.0/"
                target="_blank"
            >
                <img
                    alt="Creative Commons License"
                    src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"
                    style="border-width:0"
                    width="80" height="15"
                />
            </a>
            </p>
            <p>
            Built with <a
                rel="noopener noreferrer"
                href="https://11ty.dev"
                target="_blank"
            >11ty</a>,
            using the
            <a
                rel="noopener noreferrer"
                href="https://github.com/maxboeck/eleventastic"
                target="_blank"
            >eleventastic</a> template.
        </p>
        <p>
            Commit #<a
                rel="noopener noreferrer"
                href="{{ meta.code.repo }}/commit/{{ build.gitCommitHash }}"
                target="_blank"
            >{{ build.gitCommitHashShort }}</a>
            (<a href="/build.txt">Build info</a>)
        </p>
        <!--<p>Legal | Privacy Policy</p>-->
        </div>

        <div class="footer__right">
            <a href="{{ meta.social_media.github }}" aria-label="Access Github profile"
               rel="license noopener noreferrer" target="_blank">{% icon "github" %}</a>
            <a href="{{ meta.social_media.bluesky }}" aria-label="Access Bluesky profile"
               rel="license noopener noreferrer" target="_blank">{% icon "bluesky" %}</a>
            <a href="{{ '/feed.xml' | url }}" aria-label="Access RSS feed">{% icon "rss" %}</a>
        </div>
    </div>
</footer>
