@use "../utils/mixins";
@use "../utils/variables";

.card {
    margin: variables.$spacing-y 0;

    & .card__title {
        // font-weight: normal;
        margin: 0;

        & a {
            color: variables.$brand-color-primary;
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }

    & .card__description {
        margin: variables.$spacing-y-small 0;
    }
}

.card--post {
    // Apply margin-top to li to add spacing between tags on small screens
    & .card--post__taglist li {
        margin-top: variables.$spacing-y-small;
    }
}

.card--post-preview {
    margin: 0;
    padding: 1rem;
    border-radius: 0.7rem;
    max-width: calc(100vw - 2rem);
    text-decoration: none;
    transition: box-shadow 0.2s;

    & .card--post-preview__title {
        margin: 0;
        font-weight: bold;
    }

    &:hover {
        box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
    }

    @include mixins.t(background-color, 'bg-color', $transform: 'darken-light');
    @include mixins.t(color, 'text-color');
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
    grid-auto-flow: dense;
}
