@use '../utils/variables';

.footer {
    font-size: 0.875rem;
    padding: variables.$spacing-y 0 (variables.$spacing-y - 1rem) 0;
    margin-top: variables.$spacing-y;

    background-color: variables.$brand-color-primary;
    color: #fff;

    // Links & Icons
    & a {
        color: white;
    }

    & svg {
        fill: white;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: wrap;
    }

    &__left {
        margin-bottom: 1rem;
        margin-right: variables.$spacing-x;
    }

    &__right {
        margin-bottom: 1rem;

        & a:not(:last-child) {
            margin-right: 0.5rem;
        }
    }
}
