@use "../utils/mixins";
@use "../utils/variables";

.msg {
    padding: 1rem;
    margin: 0.5rem 0;
    border-left: 6px solid #ddd;
    border-radius: variables.$border-radius;

    @include mixins.t(background-color, 'gray-lightest');

    @include mixins.mq('lg') {
        padding-left: 1.5rem;
    }

    & p:last-child {
        margin-bottom: 0;
    }

    & .msg__header {
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    &.msg--note,
    &.msg--info {
        border-left-color: variables.$info-blue;
    }

    &.msg--success,
    &.msg--tip {
        border-left-color: variables.$success-green;
    }

    &.msg--warning {
        border-left-color: variables.$warning-orange;
    }

    &.msg--danger,
    &.msg--error,
    &.msg--stop,
    &.msg--alert {
        border-left-color: variables.$danger-red;
    }
}
