@use 'sass:map';
@use '../utils/mixins';
@use '../utils/variables';

.nav {
    &__menu {
        display: none;
        @include mixins.coverall();
        position: fixed;
        @include mixins.t(
            background-color,
            'bg-color',
            $transform: 'transparentize-light'
        );
    }

    &__link {
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;
    }
    &__toggle {
        @include mixins.button-reset;
    }

    @include mixins.mq-down(lg) {
        &__menu {
            height: 100vh;
            padding-top: 3 * variables.$spacing-y;
            z-index: map.get(variables.$z-layers, 'nav');
            text-align: center;
            font-size: 1.5 * variables.$font-size-base;
        }

        &__toggle {
            position: relative;
            z-index: map.get(variables.$z-layers, 'nav') + 1;
        }

        &.is-open &__menu {
            display: block;
            animation: animation-fadeIn 0.2s;

            & .nav__link {
                padding: 1rem 0;
                animation: animation-slideFadeIn 0.15s ease-out;
                animation-fill-mode: both;
                animation-delay: calc(var(--index) * 50ms);
            }
        }
    }

    @include mixins.mq(lg) {
        &__toggle {
            display: none;
        }
        &__menu {
            display: flex;
            position: static;
            background-color: transparent;
        }
    }
}
