@use "../utils/mixins";
@use "../utils/variables";

@use 'sass:math';

.pagination {
    text-align: center;
    padding-top: variables.$spacing-y;

    border-top: 1px solid white;
    @include mixins.t(border-top-color, 'gray-light');

    & li {
        display: inline-block;
        margin: 0 math.div(variables.$spacing-x, 2);
    }

    & [aria-current] {
        text-decoration: none;
        color: unset;
    }
}
