@use 'sass:math';

.pagination {
    text-align: center;
    & li {
        display: inline-block;
        margin: 0 math.div($spacing-x, 2);
    }

    & [aria-current] {
        text-decoration: none;
        color: unset;
    }
}
