@use "../utils/mixins";
@use "../utils/variables";

.input--search {
    padding: 0.6rem 1rem;
    border-radius: variables.$border-radius;

    border: 1px solid black;
    width: 100%;

    @include mixins.t(background-color, 'bg-color');
    @include mixins.t(border-color, 'gray-light');
    @include mixins.t(color, 'text-color');
}

.search-results__container {
    & .search-results__no-results {
        margin-top: variables.$spacing-y;
        text-align: center;

        @include mixins.t(color, 'gray');
    }

    & .search-results__perf {
        @include mixins.t(color, 'gray');
    }
}

.search__icon-header {
    float: right;
    font-size: 1rem;
    line-height: 3.25rem;

    color: black;
    @include mixins.t(color, 'text-color');
}
