---
layout: base
permalink: /about/
eleventyNavigation:
  key: About
---

<div class="container">
    <h1>About</h1>

    <p>My name is {{ meta.author }}. I like books, computers and science.</p>

    <p>I publish most of my code on
    <a href="https://github.com/umcconnell" target="_blank">Github</a>.</p>

    <p>
        You can reach out to me through my e-mail address:
        <img
            src="{{ '/assets/images/email.png' | url }}"
            alt="My e-mail address"
            style="height: 1.1rem"
        />
    </p>

    <h3 class="u-mt1 u-mb1">PGP Key</h3>

    You can download my PGP key
    <a href="{{ '/assets/other/umcconnell.asc' | url }}" download>here</a> or
    copy-paste it from below.

    <pre
        class="frame u-text-select-all"
    ><code>{% include "src/assets/other/umcconnell.asc" %}</code></pre>

    <h2>Blog</h2>

    <p>
        This blog is built with open-source software components. Here are some
        of the main ones used in this blog:
    </p>

    <ul class="u-mt1">
        <li>
            <strong>Static site generator</strong>:
            <a href="https://11ty.dev" target="_blank" rel="noreferer noopener">11ty</a>
            (<a href="https://github.com/11ty/eleventy/blob/main/LICENSE" target="_blank" rel="noreferer noopener">MIT License</a>)
        </li>
        <li>
            <strong>11ty base template</strong>:
            <a href="https://github.com/maxboeck/eleventastic" target="_blank" rel="noreferer noopener">eleventastic</a>
            (<a href="https://github.com/maxboeck/eleventastic/blob/master/LICENSE" target="_blank" rel="noreferer noopener">MIT License</a>)
        </li>
        <li>
            <strong>Templating language</strong>:
            <a href="https://mozilla.github.io/nunjucks/" target="_blank" rel="noreferer noopener">Nunjucks</a>
            (<a href="https://github.com/mozilla/nunjucks/blob/master/LICENSE" target="_blank" rel="noreferer noopener">BSD 2-Clause LICENSE</a>)
        </li>
        <li>
            <strong>Markdown</strong>:
            <a href="https://github.com/markdown-it/markdown-it" target="_blank" rel="noreferer noopener">markdown-it</a>
            (<a href="https://github.com/markdown-it/markdown-it/blob/master/LICENSE" target="_blank" rel="noreferer noopener">MIT License</a>)
        </li>
        <li>
            <strong>Code Highlighting</strong>:
            <a href="https://prismjs.com/" target="_blank" rel="noreferer noopener">Prism.js</a>
            (<a href="https://github.com/PrismJS/prism/blob/master/LICENSE" target="_blank" rel="noreferer noopener">MIT License</a>)
        </li>
        <li>
            <strong>Math</strong>:
            <a href="https://katex.org/" target="_blank" rel="noreferer noopener">KaTeX</a>
            (<a href="https://github.com/KaTeX/KaTeX/blob/main/LICENSE" target="_blank" rel="noreferer noopener">MIT License</a>)
        </li>
        <li>
            <strong>Search</strong>:
            <a href="https://github.com/krisk/fuse" target="_blank" rel="noreferer noopener">Fuse</a>
            (<a href="https://github.com/krisk/Fuse/blob/main/LICENSE" target="_blank" rel="noreferer noopener">Apache License 2.0</a>)
        </li>
        <li>
            <strong>Icons</strong>:
            <a href="https://primer.style/octicons/" target="_blank" rel="noreferer noopener">Primer Icons</a>
            (<a href="https://github.com/primer/octicons/blob/main/LICENSE" target="_blank" rel="noreferer noopener">MIT License</a>)
        </li>
        <li>
            <strong>Comment System</strong>:
            <a href="https://giscus.app/" target="_blank" rel="noreferer noopener">giscus</a>
            (<a href="https://github.com/giscus/giscus/blob/main/LICENSE" target="_blank" rel="noreferer noopener">MIT License</a>)
        </li>
    </ul>
</div>
