---
layout: base
permalink: /projects/
eleventyNavigation:
    key: Projects
---

{% import "../components/card.njk" as card %}

<div class="container">
    <h1>Projects</h1>

    <p>
        Here's a selection of some of my software side projects. This is mostly
        a curated compilation of my Github repos.
    </p>

    {{
        card.card("servum", "https://github.com/umcconnell/servum",
        "A simple, fast, static server written in Rust. No dependencies. HTTP only.")
    }}

    {{
        card.card("destroyer2", "https://github.com/umcconnell/destroyer2",
        'Online multiplayer battleship game. Uses node and redis.<br />
        Play here: <a href="https://destroyer2.herokuapp.com/" target="_blank"\
        >https://destroyer2.herokuapp.com/</a>')
    }}
    
    {{
        card.card("aquila", "https://github.com/intelligenerator/aquila",
        "AI to assess building damage from satellite imagery after natural catastrophes.\
        <br />Written using Python and Pytorch.")
    }}
    
    {{
        card.card("lc4", "https://github.com/umcconnell/lc4",
        'JavaScript encryption-decryption library for the lc4 cipher.<br />\
        Additional UI: <a href="https://lc4-encryptor.glitch.me"\
        target="_blank">https://lc4-encryptor.glitch.me</a>')
    }}

    {{
        card.card("typespeed", "https://github.com/umcconnell/typespeed",
        'A speed typing game.<br />Play here:\
        <a href="https://umcconnell.github.io/typespeed/" target="_blank"\
        >https://umcconnell.github.io/typespeed/</a>')
    }}

    {{
        card.card("tic-tac-toe", "https://github.com/umcconnell/tic-tac-toe",
        "Unbeatable Python tic-tac-toe game with minimax. UI using Qt.")
    }}

</div>
