---
layout: base
pagination:
    data: collections
    size: 1
    alias: tag
    filter:
        - all
permalink: '/posts/tags/{{ tag }}/'
---

<div class="container">
    <h1>Posts Tagged "{{ tag }}"</h1>

    <ul>
        {% set tags = collections[ tag ] %}
        {% for post in tags | reverse %}
            {% set post_url %}{{ post.url | url }}{% endset %}
            {% set post_date %}{{ post.data.date | dateLong }}{% endset %}
            <li>{% postcard post_url, post.data.title, post_date, post.data.description, post.data.tags %}</li>
        {% endfor %}
    </ul>
</div>
