---
layout: archive
pagination:
    data: collections.allTagsAndYears
    size: 1
    alias: tagObj
permalink: '/posts/tags/{{ tagObj.tagName }}/'
eleventyComputed:
    title: "Posts Tagged \"{{ tagObj.tagName | capitalize }}\""
---


<div class="archive__main">
    <ol>
        {% for post in tagObj.posts | reverse %}
            {% set post_url %}{{ post.url | url }}{% endset %}
            {% set post_date %}{{ post.data.date | dateLong }}{% endset %}
            <li>{% postcard post_url, post.data.title, post_date, post.data.description, post.data.tags %}</li>
        {% endfor %}
    </ol>
</div>
