{% import "./taglist.njk" as taglist %}

{% macro card(title, link, description, class="") %}
<div class="card {{class}}">
    <h2 class="card__title">
        <a href="{{ link | url}}">{{ title }}</a>
    </h2>
    <p class="card__description">{{ description | safe }}</p>
</div>
{% endmacro %}

{% macro postcard(post, class="") %}
<div class="card card--post {{class}}">
    <h2 class="card__title">
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h2>
    <strong class="card--post__date">{{ post.data.date | dateLong }}</strong>
    <p class="card__description">{{ post.data.description }}</p>
    {{ taglist.taglist(post.data.tags, "card--post__taglist") }}
</div>
{% endmacro %}