---
layout: base
eleventyNavigation:
    key: Home
    order: -1
---

<div class="container">
    <h1>👋 Hi</h1>

    <p>
        This is my own personal website and blog on the endless expanses of the
        internet. Every once in a while, I try to write about my ideas and
        different technical topics, mostly related to programming. Feel free to
        look around and explore...
    </p>

    <p>All views and opinions expressed in this blog are my own.</p>

    <p>
        By the way: This website is
        <a href="{{ meta.code.repo }}">open source</a>. All code is licensed
        under the MIT license, the content is available under the
        CC-BY-SA 4.0 license, unless stated otherwise.
    </p>

    <h2 class="u-mt2">Latest posts</h2>

    <div class="card-grid">
        {% for post in collections.posts | reverse | take(3) %}
        <a href="{{ post.url | url }}" class="card card--post-preview"><div>
            <h3 class="card--post-preview__title">{{ post.data.title }}</h3>
            <p class="u-mb1">{{ post.data.description }}</p>
            <span class="link">Read more &rarr;</span>
        </div></a>
        {% endfor %}
    </div>
</div>
